<div class="dashboard-container" fxLayout="column">
  <div class="dashboard-menu" fxFlex="8%">
    <ul class="menu-dashboard">
      <div class="logout">
        <mat-icon class="icon-exit">arrow_back_ios</mat-icon>
        <li (click)="logout()" class="item-menu item-exit">
          <a> Salir</a>
        </li>
      </div>
      <li
        class="item-menu"
        routerLink="./historial"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a>Historial</a>
      </li>
      
      <!-- <li
        class="item-menu"
        
      >
      <div class="dropdown">
        <label class="menu-title">
          Usuarios
          <ul class="menu-user">
            <li 
            routerLink="./add-user"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Registrar</li>
            <li
            routerLink="./list-users"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Listado</li>
          </ul>
        </label>
      </div>
      </li> -->
      <li
      class="item-menu"
      routerLink="./inventario"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a>Inventario</a>
    </li>
    <li
      class="item-menu"
      routerLink="./productos"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a>Productos</a>
    </li>
    <li
    *ngIf="email=='josue@rovianda.com' || email=='calidadadminalterno@rovianda.com' "
    class="item-menu"
    routerLink="./code"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a>Códigos</a>
  </li>
    
    </ul>
  </div>
  <div class="dashboard-container-pages" >
    <router-outlet></router-outlet>
  </div>
</div>
