<div class="content" *ngIf="_meat!=null">
  <div class="dates" *ngIf="_meat != undefined && _meat != null">
      <div class="reception" >
          <div class="text">Fecha de recepción</div>
          <div class="value">{{ (_meat.entranceMeat[0].receptionDate | date: "dd/MM/yyyy" ) || 'Sin registro'}}</div>
      </div>
      <div class="dates">
          <div class="dateOpen">
              <div class="text">Fecha de apertura</div>
              <div class="value">{{ (_meat.fridge[0].openingDate | date: "dd/MM/yyyy" ) || 'Sin registro'}} </div>
          </div>
          <div class="dateEnd">
              <div class="text">Fecha de cierre</div>
              <div class="value">{{ (_meat.fridge[0].closedDate | date: "dd/MM/yyyy" ) || 'Sin registro'}}</div>
          </div>
      </div>
  </div>
  <div class="outputs" *ngIf="inputs.length">
      <h5>Entradas</h5>
       <div class="output">
          <mat-table [dataSource]="datasourceInputs">
              
              <ng-container matColumnDef="number">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element;let i=index"> {{i+1}} </mat-cell>
              </ng-container>
            
              
              <ng-container matColumnDef="receive">
                <mat-header-cell *matHeaderCellDef> Recibio </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.inspector.name}} </mat-cell>
              </ng-container>
            
              
              <ng-container matColumnDef="weigth">
                <mat-header-cell *matHeaderCellDef> Peso </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.weight.value}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{(element.receptionDate | date:"dd/MM/yyyy") || 'Sin registro'}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnInputs; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnInputs;"></mat-row>
            </mat-table>
            <div *ngIf="!_meat.entranceMeat.length" class="notFound">Sin registros</div>
      </div> 
  </div>

<div class="outputs" *ngIf="outputs.length">
  <h5>Salidas</h5>
   <div class="output">
      <mat-table [dataSource]="datasourceOutputs">
          
          <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element;let i=index"> {{i+1}} </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Materia Prima </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.rawMaterial}} </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{(element.startOutput | date:"dd/MM/yyyy") || 'Sin registro'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsOutputs; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsOutputs;"></mat-row>
        </mat-table>
        <div *ngIf="!_meat.outputs.length" class="notFound">Sin registros</div>
  </div> 
</div>

<div class="outputs" *ngIf="formulations.length">
  <h5>Formulaciones</h5>
   <div class="output">
      <mat-table [dataSource]="datasourceFormulations">
          
          <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element;let i=index"> {{i+1}} </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="lotDay">
            <mat-header-cell *matHeaderCellDef> Lote del dia </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lotDay}} </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="product">
            <mat-header-cell *matHeaderCellDef> Producto a elaborar </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="temp">
            <mat-header-cell *matHeaderCellDef> Temperatura </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.temp}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="elaborated">
            <mat-header-cell *matHeaderCellDef> Elaboró </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.providerId}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnFormulations; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnFormulations;"></mat-row>
        </mat-table>
        <div *ngIf="!_meat.formulation.length" class="notFound">Sin registros</div>
  </div> 
</div>


<div class="outputs" *ngIf="process.length">
  <h5>Procesos</h5>
   <div class="output">
      <mat-table [dataSource]="datasourceProcess">
          
          <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element;let i=index"> {{i+1}} </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="lotDay">
            <mat-header-cell *matHeaderCellDef> Lote del dia </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lotDay}} </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="product">
            <mat-header-cell *matHeaderCellDef> Producto a elaborar </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="lastProcess">
            <mat-header-cell *matHeaderCellDef> Ultimo Proceso Aplicado </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dateStart">
            <mat-header-cell *matHeaderCellDef> Fecha de inicio </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.startDate |  date:"dd/MM/yyyy"}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dateEnd">
            <mat-header-cell *matHeaderCellDef> Fecha de fin </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.endDate | date:"dd/MM/yyyy" }} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnProcess; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnProcess;"></mat-row>
        </mat-table>
        <div *ngIf="!_meat.process.length" class="notFound">Sin registros</div>
  </div> 
</div>


<div class="outputs" *ngIf="ovens.length">
  <h5>Hornos</h5>
   <div class="output">
      <mat-table [dataSource]="datasourceOven">
          
          <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element;let i=index"> {{i+1}} </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="lotDay">
            <mat-header-cell *matHeaderCellDef> Lote del dia </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lotDay}} </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="product">
            <mat-header-cell *matHeaderCellDef> Producto a elaborar </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="hour">
            <mat-header-cell *matHeaderCellDef> Horas </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.time }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="oven">
            <mat-header-cell *matHeaderCellDef> Horno </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.oven }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="revisions">
            <mat-header-cell *matHeaderCellDef> Revisiones </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.revisions.length  }} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnOven; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnOven;"></mat-row>
        </mat-table>
        <div *ngIf="!_meat.oven.length" class="notFound">Sin registros</div>
  </div> 
</div>


<div class="outputs" *ngIf="packing.length">
  <h5>Empaquetado</h5>
   <div class="output">
      <mat-table [dataSource]="datasourcePacking">
          
          <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element;let i=index"> {{i+1}} </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.date | date:"dd/MM/yyyy"}} </mat-cell>
          </ng-container>
        
          
          <ng-container matColumnDef="product">
            <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="lotDay">
            <mat-header-cell *matHeaderCellDef> Lote del dia </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lotDay }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="presentation">
            <mat-header-cell *matHeaderCellDef> Presentacion </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.presentation }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.quantity  }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Peso </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.weight  }} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnPacking; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnPacking;"></mat-row>
        </mat-table>
        <div *ngIf="!_meat.packingDate.length" class="notFound">Sin registros</div>
  </div> 
</div>

</div>