<div class="container-historial" fxLayout="column">
  <div class="container-filter" fxFlex="15%">
    <form [formGroup]="filter" fxLayout="row" fxLayoutAlign="center end">
      <mat-form-field class="item-form" appearance="outline">
        <mat-label>Tipo de búsqueda</mat-label>
        <select
          disabled
          matNativeControl
          class="input"
          formControlName="option"
          required
          (change)="selectType()"
        >
          <option *ngFor="let section of options" [value]="section.value">{{
            section.name
          }}</option>
        </select>
      </mat-form-field>
      <mat-form-field class="item-form" appearance="outline">
        <mat-label>Buscar</mat-label>
        <input
          matInput
          type="text"
          class="input"
          #search
          formControlName="search"
          [disabled]="option.invalid"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="searchElement()"
          [disabled]="search.value.length == 0"
        >
          <mat-icon matSuffix>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <div fxFlex="85%" fxLayout="row">
    <div fxFlex="45%">
      <app-table-historial></app-table-historial>
    </div>
    <div fxFlex="55%" fxLayout="column">
      <div fxFlex="25%">
        <app-card-date></app-card-date>
      </div>
      <div fxFlex="75%">
        <app-table-documents></app-table-documents>
      </div>
    </div>
  </div>
</div>
