<div class="container">
  <form class="form" [formGroup]="form" fxLayout="column">
    <div fxFlex="50%">
      <h1 fxLayout="row">Mostrar informacion</h1>
    </div>
    <div fxFlex="50%">
      <div class="row" fxLayout="row" fxLayoutAlign="center end">
        <mat-form-field class="item-form" appearance="outline">
          <mat-label>De:</mat-label>
          <input
            autocomplete="off"
            matInput
            formControlName="dateIni"
            [matDatepicker]="picker"
            (click)="picker.open()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="item-form" appearance="outline">
          <mat-label>Hasta:</mat-label>
          <input
            autocomplete="off"
            matInput
            formControlName="dateFinal"
            [matDatepicker]="pickerEnd"
            (click)="pickerEnd.open()"
            [min]="dateIni.value"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerEnd"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<!--




<mat-form-field class="date" appearance="outline">
        <mat-label>Fecha inicial</mat-label>
        <input
          autocomplete="off"
          matInput
          formControlName="dateIni"
          [matDatepicker]="picker"
          (click)="picker.open()"
        />
        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>-->
