<div class="container-login">
  <div class="login-message">
    <h1 class="login-title-message">Bienvenido</h1>
    <p class="login-message">
      Sistema de control de calidad de ROVIANDA S.A.P.I DE C.V.
    </p>
  </div>
  <div class="login-form">
    <form class="form-login" [formGroup]="loginForm" fxLayout="column">
      <h1 class="title-form-login">Login</h1>
      <mat-form-field class="item-form">
        <mat-label class="input-label">Usuario</mat-label>
        <input matInput class="input" formControlName="email" required />
        <mat-icon svgIcon="user-svg" matPrefix></mat-icon>
        <mat-error *ngIf="email.errors">
          Por favor ingresa un correo electr&oacute;nico valido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="item-form">
        <mat-label class="input-label">Contrase&ntilde;a</mat-label>
        <input
          type="password"
          matInput
          class="input"
          formControlName="password"
          required
        />
        <mat-icon svgIcon="lock-svg" matPrefix></mat-icon>
        <mat-error *ngIf="password.errors">
          Por favor ingresa una contraseña válida
        </mat-error>
        <mat-error class="error-message" *ngIf="loginForm.errors?.loginError">
          {{ loginForm.errors.loginError }} Error
        </mat-error>
      </mat-form-field>

      <button
        class="btn-login"
        fxLayoutAlign="space-around center"
        (click)="onLogin()"
        mat-raised-button
        [disabled]="loginForm.status == 'INVALID'"
      >
        <span *ngIf="!loading">Iniciar sesi&oacute;n</span>
        <mat-spinner
          class="custom-spinner"
          *ngIf="loading"
          diameter="32"
        ></mat-spinner>
      </button>
      <mat-error class="error-message" *ngIf="loginForm.errors?.loginError">
        {{ translateError(loginForm.errors.loginError) }}
      </mat-error>
    </form>
  </div>
</div>
