<div class="container">
  <div class="table-container">
    <div class="header-list">
      <h1 class="header-date">Accion</h1>
      <h1 class="header-state">Fecha</h1>
    </div>
    <div>
      A partir de la recepción:<br>
      
    </div>
    <div class="container-card">
      <div
        *ngIf="isLoading"
        class="custom-spinner"
        fxLayoutAlign="space-around center"
      >
        <mat-spinner style="margin: auto;"></mat-spinner>
      </div>
      <div *ngIf="!isLoading">
        <app-search-packaging
          *ngIf="type === 'packaging' && found"
          [packaging]="entrances"
        ></app-search-packaging>
        <app-search-drief
          *ngIf="type === 'drief' && found"
          [drief]="entrances"
        ></app-search-drief>
        <history-list
          *ngIf="type === 'meat' && found"
          [entrances]="entrances"
          [cooling]="cooling"
          [outputsCooling]="outputsCooling"
          [formulations]="formulations"
          [process]="process"
          [oven]="oven"
        ></history-list>
      </div>
    </div>
  </div>
</div>
